<style>
    .avatar {
        height: 50px;
        width: 50px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">Items Sold</h4>
        </div>
    </div>
    <button 
        data-sellerID="<%=sellerID%>"
        id="clearAllSold"
        class="btn btn-sm btn-danger float-end">
        <i class="fas fa-trash"></i>
        Clear All
    </button>
    <div class="clearfix"></div>
    <div class="row mt-2">
        <table class="table table-responsive table-stripled table-hover">
            <thead class="bg-info text-light">
                <tr>
                    <th>Item ID</th>
                    <th>Item Image</th>
                    <th>Item Title</th>
                    <th>Contact No.</th>
                    <th>Item Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% if(products.length > 0) { %>
                    <% products.map(product => { %>
                        <tr>
                            <td><%=product.id%></td>
                            <td>
                                <img 
                                    src="data:image/<%=product.image.contentType%>;base64,
                                    <%=product.image.data.toString('base64')%>"
                                    class="img-fluid avatar img-responsive"/>
                            </td>
                            <td><%=product.title%></td>
                            <td><%=product.contact%></td>
                            <td><%=product.price%></td>
                            <td>
                                <div class="badge bg-success">
                                    <i class="fas fa-check"></i>
                                    Sold
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <tr>
                        <td class="text-center" colspan="6">
                            You have no products on sold yet.
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#clearAllSold').click(function(e){
            alert("Hello")
            $.ajax({
                method: 'POST',
                url: 'http://localhost:3000/api/clear-all-sold',
                data: JSON.stringify({ sellerID: $(this).attr('data-sellerID')}),
                async: true,
                headers: { 'Content-type': 'application/json'},
                success: (msg) => {
                    alert("List is cleared!")
                    window.location.reload()
                },
                error: (err) => {
                    alert(err.responseText)
                }
            })
        });
    })
</script>